.main {
  display: grid;
  justify-content: center;
}

.page__main {
  margin-top: 50px;
}

.main__content {
  display: grid;
  grid-template-areas: "card card card card"
    "card card card card";
  grid-template-columns: repeat(4, 200px);
  column-gap: 48px;
  row-gap: 50px;
}

.page__menu {
  position: relative;
}

// .catalog {
//   // width: 1024px;
// }

// .catalog__card {
//   // margin: 0 24px 50px;
// }
