.main {
  display: flex;
  justify-content: center;
}

.page__main {
  margin-top: 50px;
}

.page__menu {
  position: relative;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 403px;
  gap: 50px 48px;

  justify-content: center;

  width: $cardWidth * 4 + 48 * 3;
}
